body {
  margin: 0;
  background: linear-gradient(to right, rgba(245, 238, 54, 0.503) 35%, rgb(218, 136, 250) 100%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

header {
  display: block;
  text-align: center;
  text-decoration: none;
  font-family: 'Agbalumo';
  font-size: 50px;
  top: -50px;
  position: relative;
}

@media (max-width: 600px) {
  header {
    font-size: 30px; /* Adjust the font size for smaller screens */
  }
  .completion-text {
    font-size: 45px;
    margin-top: 100px;
  }
}

@media (min-width: 601px) {
  .completion-text {
    font-size: 50px;
  }
  
}

header a {
  text-decoration: none; /* Remove underline for links within the header */
  color: rgba(56, 32, 0, 0.916);
}

.footer {
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #282c34;
  color: white;
  margin-top: 20px;
}

.category-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 16px;
}

@media (max-width: 768px) {
  .category-buttons {
    grid-template-columns: repeat(1, 1fr); /* 1 column for smaller screens */
    margin-bottom: 60px; /* Add margin to the entire category buttons container */
  }
}

@media (min-width: 769px) {
  .category-buttons {
    grid-template-columns: repeat(3, 1fr); /* 3 columns for larger screens */
  }
}

@media (max-width: 768px) {
  .category-button {
    flex: 0 0 calc(100% - 16px); /* 1 column for smaller screens */
  }
}

.category-button:hover {
  background-color: lightcyan;
}

.category-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 60px;
}

.category-heading {
  text-align: center;
  margin-bottom: 16px;
  margin-top: -85px;
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
}

.category-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.category-button {
  font-family: Kodchasan;
  flex: 0 0 calc(33.3333% - 16px); /* 3 columns for larger screens */
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 19px;
  font-weight: bold;
  margin: 8px;
}

@media (max-width: 768px) {
  .category-button {
    flex: 0 0 calc(100% - 16px); /* 1 column for smaller screens */
  }
}



/* ------------------------------Difficulty Page------------------------------ */
.difficulty-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.difficulty-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 210px;
}

.difficulty-buttons .category-button {
  font-family: Kodchasan;
  width: 100%;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: bold;
  margin: 15px 0;
}

.difficulty-buttons .category-button:hover {
  background-color: lightcyan;
}

.difficulty-buttons .category-heading {
  text-align: center;
  margin-bottom: 16px;
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
}



/* ------------------------------Question Page------------------------------ */
.question-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -85px;
}

.question-text {
  text-align: center;
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  font-size: 30px; 
  margin-bottom: 16px;
}

.answers-grid {
  display: flex;
  justify-content: center;
  flex-wrap: wrap; /* Allow items to wrap to the next line */
  gap: 16px;
  margin-bottom: 20px; 
}

.answer-button {
  font-family: Kodchasan;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 30px;
  font-weight: bold;
  flex: 0 0 calc(50% - 16px); /* Set width for two buttons in a row with gap */
  cursor: pointer;

  /* Add a media query for smaller screens */
  @media (max-width: 768px) {
    flex: 0 0 calc(100% - 16px); /* Set width for one button per row */
  }
}

.answer-button:hover {
  background-color: lightcyan;
}

.boolean-answers {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.boolean-answer-button {
  font-family: Kodchasan;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 16px;
  font-weight: bold;
  width: 200px;
  font-size: 30px;
  margin: 10px;
  cursor: pointer;
}

.boolean-answer-button:hover {
  background-color: lightcyan;
}

.score {
  text-align: center;
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  font-size: 30px; 
  margin-top: 70px; /* Add space between the answers and the score */
}

.next-button {
  font-family: Kodchasan;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 20px; 
  font-weight: bold;
  margin-top: 20px; /* Add space between the score and the button */
  cursor: pointer;
}

.next-button:hover {
  background-color: lightcyan;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 20px; 
  margin-bottom: 70px;
}

.loading-dots {
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  font-size: 24px; 
  margin-top: 20px; /* Add space between the answers and the loading animation */
  animation: loadingAnimation 1.5s infinite; /* Add animation property */
}

@keyframes loadingAnimation {
  0% {
    content: 'Loading questions';
  }
  25% {
    content: 'Loading questions.';
  }
  50% {
    content: 'Loading questions..';
  }
  75% {
    content: 'Loading questions...';
  }
  100% {
    content: 'Loading questions';
  }
}

.loading-dots::after {
  content: "Loading";
  display: inline-block;
  animation: loadingAnimation 1.5s infinite;
}

.selected-answer {
  background-color: rgb(173, 253, 179);
  color: green;
}

.incorrect-answer {
  background-color: #ff7171; /* Light red background color for incorrect answers */
  color: #990000; /* Dark red text color for incorrect answers */
}



/* ------------------------------ Completion Page ------------------------------ */
.completion-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  overflow-y: auto;
}

.information-container {
  text-align: center;
  margin-top: -415px;
}

.completion-text {
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  margin-bottom: 16px;
}

.score-summary {
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  font-size: 30px;
  margin-bottom: 20px;
}

.show-modal-button {
  font-family: Kodchasan;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.show-modal-button:hover {
  background-color: lightcyan;
}

.play-again-button {
  font-family: Kodchasan;
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.play-again-button:hover {
  background-color: lightcyan;
}

.incorrect-questions-heading {
  font-family: 'Agbalumo';
  color: rgba(56, 32, 0, 0.666);
  font-size: 20px;
  margin-top: 50px;
}

/* ------------------------------ Incorrect Questions Modal ------------------------------ */
.incorrect-questions-modal {
  display: block; 
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  font-family: Kodchasan;
  background: linear-gradient(to left, rgb(245, 239, 54) 35%, rgb(218, 136, 250) 100%);
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.show-modal-button {
  box-sizing: border-box;
  padding: 12px;
  text-align: center;
  background-color: lightblue;
  text-decoration: none;
  color: black;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  font-size: 20px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;
}

.show-modal-button:hover {
  background-color: lightcyan;
}
